@import '../Global.scss';

.containerItem{
    @include size(350px, 400px);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
    .image-content{
        @include size(300px, auto);
        z-index:1;
        img{
            @include size(300px, auto);
            border-radius: 20px;

        }
    }

    .description-content{
       @include size(350px, auto);
       background: $color7;
       display: flex;
       flex-direction: column;
       align-items:center;
       position: relative;
       top: -120px;
       padding-top: 100px;
       border: 2px solid $color4;
       @include mobile-screen() {
        @include size(320px, auto);
       }
       .general-description{
          
            .title{
                margin-top: 30px;
                @include font-Roboto(16px);
                text-align: center;
            }
            .description{
                margin-top: 10px;
                margin-bottom: 30px;
                margin-left: 15px;
                margin-right: 15px;
                text-align: justify;
                @include font-Roboto(13px);
            }
       }

       .routes{
            @include size(300px, auto);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 25px;

            .button-left{
                @include size(110px, 30px);
                border: none;
                cursor:pointer;
                background: $color6;
                box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
                &:hover{
                    background: rgba($color6, 0.8);
                   }
            }
            .button-right{
                @include size(110px, 30px);
                border: none;
                cursor:pointer;
                background: $color4;
                color: $color7;
                box-shadow: 0px 1px 3px 0px rgba(210, 255, 10, 0.75);
                &:hover{
                    background: rgba($color4, 0.8);
                   }
            }
       }
    }
}