@import '../Global.scss';

.container-projects {
    @include size(100%, auto);
    background-image: url('https://user-images.githubusercontent.com/60928490/91021669-aea54a80-e5b9-11ea-8c2c-51e065525861.png');
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}